# Nextcloud (cloud.mont.family)
NEXTCLOUD_URL=https://cloud.mont.family
NEXTCLOUD_USER=
NEXTCLOUD_PASSWORD=

# YNAB
YNAB_TOKEN=
YNAB_BUDGET_ID=

# Gitea
GITEA_URL=https://git.mont.family
GITEA_TOKEN=
